/* Code is compressed only in the preview version.
The css files in the download are nicely formated and commented.
Check out the screenshots section for a look at the code*/
@media print 
    #cv{
        border:none;
        width:100%;
        /*float:none;*/
        margin:0
    }
    
    .person {
        float: left;
        width: 30%;
    }

    .person img {
        position: absolute;
        left: 30px;
    }
    
    #contact-info {
        right: 15px;
        top: 32px;
        position: absolute;
    }

    .cv-section-items {
        /*width: auto;*/
        background-color: #fafafa;
        border-radius: 1px;
        border-bottom: none !important;
        padding: 10px;
        margin-bottom: 0;
    }

    .first-cv-section {
        margin-bottom: 20px;
    }

    .profile {
        width: 60% !important; 
        float: left !important;
    }
    .skills {
        width: 28% !important; 
        float: right !important;
    }
}