/* Code is compressed only in the preview version.
The css files in the download are nicely formated and commented.
Check out the screenshots section for a look at the code*/
@media print {
  body {
    font-size: 14px;
  }

  #cv {
    border: none;
    width: 100%;
    /*float:none;*/
    margin: 0;
  }

  .person h1 {
    font-size: 38px;
    color: #000;
  }

  .item h4 {
    font-size: 14px;
  }

  .person h2 {
    font-size: 15px;
    color: #000;
  }

  h2.cv-section-name,
  .item h2 {
    font-size: 22px;
    position: static;
    box-shadow: none;
  }

  .item h3 {
    font-size: 15px;
  }

  .item p,
  p {
    font-size: 14px;
    padding: 0;
  }

  .item {
    padding: 0;
  }

  .item .pub-item {
    height: 70px;
  }

  .person {
    float: none;
    width: 30%;
  }

  .person img {
    position: absolute;
    left: 30px;
    border: 1px solid var(--image-border-color);
  }

  #contact-info {
    right: 15px;
    top: 10px;
    position: absolute;
  }

  #contact-info,
  #contact-info a,
  #contact-info .fa {
    color: #000;
  }

  #contact-info .list-unstyled li {
    font-size: 1rem;
  }

  .cv-section {
    margin: 0;
    padding: 0;
  }

  .cv-section-items {
    /*width: auto;*/
    background-color: #fafafa;
    border-radius: 1px;
    border-bottom: none !important;
    padding: 10px;
    margin-bottom: 0;
  }

  .cv-section-items .item p,
  .list-unstyled {
    font-size: 1rem;
  }

  .first-cv-section {
    margin-bottom: 0px;
    background-image: none;
  }

  .profile {
    margin-right: 2rem;
    flex: 2;
  }

  .skills {
    flex: 1;
    display: flex;
  }

  .skills .cv-section {
    margin-right: 1.5rem;
    flex: 1;
  }

  span.skill-tag {
    font-size: 0.7rem;
    color: #000;
  }
}