/* Code is compressed only in the preview version.
The css files in the download are nicely formated and commented.
Check out the screenshots section for a look at the code*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,/*ul,li*/,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  /*     font-size:100%; */
  font-family: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* Fonts Embedding */
@font-face {
  font-family: 'AllerBold';
  src: url('fonts/aller_bd-webfont.eot');
  src: url('fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/aller_bd-webfont.woff') format('woff'),
    url('fonts/aller_bd-webfont.ttf') format('truetype'),
    url('fonts/aller_bd-webfont.svg#AllerBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AllerLightRegular';
  src: url('fonts/aller_lt-webfont.eot');
  src: url('fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/aller_lt-webfont.woff') format('woff'),
    url('fonts/aller_lt-webfont.ttf') format('truetype'),
    url('fonts/aller_lt-webfont.svg#AllerLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansRegular';
  src: url('fonts/droidsans-webfont.eot');
  src: url('fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/droidsans-webfont.woff') format('woff'),
    url('fonts/droidsans-webfont.ttf') format('truetype'),
    url('fonts/droidsans-webfont.svg#DroidSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AllerLightRegular;
}
:focus {
  outline: 0;
}
body {
  --color-highlight: #5a9fa2;
  --color-highlight-lighter: #475261;
  --index-high: 1000;
  --page-bg-color: #fff;
  --page-text-color: #333;
  --section-bg-color: #f8f8f8;
  --box-bg-color: #fafafa;
  --box-border-color: #ededed;
  --image-border-color: #dedede;
  --skill-tag-bg-color: #eee;
  --skill-tag-border-color: #ccc;

  background: var(--page-bg-color);
  color: var(--page-text-color);
  font: 16px 'Marvel', sans-serif;
  line-height: 22px;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: 400;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
a {
  color: var(--color-highlight);
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
.fixed:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.fixed {
  display: block;
  min-height: 1%;
}
* html .fixed {
  height: 1%;
}
#cv {
  background-color: #fff;
  margin: 0 auto;
}
.cv-contents {
  padding: 25px;
  max-width: 1280px;
  margin: 0 auto;
}
.cv-section.cv-section-title {
  padding: 10px 25px;
}
.orizens-logo {
  position: absolute;
  bottom: -2px;
  right: 0;
  background: url(http://orizens.github.io/cv/images/orizen-logo-wide.png)
    no-repeat;
  width: 200px;
  height: 59px;
  background-size: cover;
}
.first-cv-section {
  background: var(--section-bg-color)
    url(http://orizens.github.io/cv/images/orizens-bg.png);
  background-blend-mode: color-burn;
  background-size: cover;
  margin: 0;
  padding: 15px;
  position: relative;
  border-bottom: 1px solid var(--box-border-color);
  /* background-color: #409CD3; */
}

.person img {
  margin: 0 auto;
  background-color: var(--page-bg-color);
  border: 1px solid var(--image-border-color);
  padding: 10px 8px;
  border-radius: 50%;
}
.person h1 {
  margin: 10px auto;
  color: #475261;
  /*     font-size: 38px; */
  line-height: 48px;
  font-weight: 400;
  letter-spacing: -1px;
}
.unstyled-links {
  text-decoration: none;
}

ul#social-media {
  margin-bottom: 18px;
  list-style: none;
}
ul#social-media li {
  display: inline;
}

.cv-section-items {
  padding-left: 125px;
}

.item {
  padding-bottom: 20px;
  position: relative;
  width: auto;
  background-color: var(--box-bg-color);
  border-radius: 1px;
  border-bottom: 1px solid var(--box-border-color);
  padding: 2rem;
  margin-bottom: 20px;
}
.item h4 {
  color: var(--color-highlight);
  /*     font-size:14px; */
  text-transform: uppercase;
  margin: 0 5px 0 0;
  float: left;
}
.item p {
  text-align: justify;
  padding: 0 0 15px;
  line-height: 1.5;
  clear: both;
  margin: 0;
  font-size: 1.5rem;
}
.item ul {
  text-align: left;
}
.item p + ul,
.item h3 + ul {
  padding-left: 20px;
}
.last-item {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.person {
  text-align: center;
}
.person h2 {
  color: #475261;
  font-family: AllerLightRegular, Arial, Helvetica, sans-serif;
  /*     font-size: 15px; */
  font-weight: 400;
  letter-spacing: -0.7px;
  text-transform: uppercase;
  margin-bottom: 0;
}
h2.cv-section-name {
  color: #3c4756;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-highlight);
  position: sticky;
  top: 0;
  z-index: var(--index-high);
  background-color: var(--page-bg-color);
  box-shadow: 0 5px 6px -6px var(--color-highlight);
}

.item h2 {
  color: var(--color-highlight);
  /*     font-size:22px; */
  font-weight: 400;
  letter-spacing: -1px;
  margin-top: 11px;
}
.item h2 a {
  color: var(--color-highlight);
  text-decoration: none;
}
.item h3 {
  color: #262625;
  font-family: 'Marvel';
  /*     font-size:15px; */
  font-style: italic;
  font-weight: 400;
  margin-bottom: 15px;
}

.last-cv-section {
  border-bottom: none;
}
#contact-form {
  width: 210px;
}
form p {
  clear: both;
  margin-bottom: 10px;
}
input,
textarea {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #515151;
  width: 200px;
  padding: 5px;
}

.item-client {
  color: var(--color-highlight);
}
.section-title-icon {
  color: var(--color-highlight);
  margin-right: 5px;
}
.cv-section-split {
  width: 42%;
  display: inline-block;
}
.list-unstyled {
  padding-left: 0;
  margin: 0;
  list-style: none;
  line-height: 1.5;
}
.list-unstyled .fa {
  margin-right: 5px;
  color: var(--color-highlight);
}

@media (min-width: 360px) {
  body {
    font-size: 2rem;
  }
  .person h2 {
    font-size: 1.5rem;
  }
  .cv-section-name {
    font-size: 2rem;
  }
  .profile .item p {
    text-align: left;
  }
  .item h2 {
    font-size: 1.5rem;
  }
  .item h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin: 0.5rem 0;
  }
  .item .date,
  .item .company {
    font-size: 1rem;
  }
  .cv-section-items .item p,
  .list-unstyled {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 0;
  }
  span.skill-tag {
    border-radius: 10px;
    padding: 3px 14px;
    background-color: var(--color-highlight);
    line-height: 2;
    color: var(--page-bg-color);
  }

  .first-cv-section .person {
    width: 100%;
  }

  .cv-section-items {
    width: auto;
    background-color: var(--box-bg-color);
    border-radius: 1px;
    border-bottom: 1px solid var(--box-border-color);
    padding: 2rem;
    margin-bottom: 20px;
  }

  #contact-info {
    color: var(--color-highlight-lighter);
    position: relative;
    margin: 0;
    text-align: center;
  }

  #contact-info a,
  #contact-info .fa {
    color: var(--color-highlight-lighter);
  }
  .item-client {
    font-weight: bold;
  }
  .pub-item {
    width: auto;
  }
  .pub-item.with-media {
    background-color: var(--skill-tag-bg-color);
    margin: 0.5rem 0;
    border: 1px solid var(--skill-tag-border-color);
    border-radius: 3px;
    padding: 1rem;
  }
  .pub-item .media {
    height: auto;
    max-width: 100%;
    max-height: 15rem;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 1rem;
  }
  .person h1 {
    font-size: 4rem;
  }
  #contact-info {
    position: absolute;
    right: 15px;
    top: 12px;
  }
  #contact-info .list-unstyled li {
    font-size: 1.2rem;
  }
}

@media (min-width: 900px) {
  .cv-contents {
    display: flex;
  }
  .profile {
    flex: 5;
    margin-right: 2rem;
  }
  .skills {
    flex: 2;
  }
}
